{% extends "base.html" %}
{% set title='all posts' %}
{% set current_page='all posts' %}
{% set placeholder_image= '/img/placeholder.png' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
    <link rel="stylesheet" href="/style/all.css">
{% endblock %}

{% block content %}
    <div class="category">
        <section id="section-text">
            <p><span> Category 1 </span></p>
        </section>
        <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 1</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 2</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 3</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 4</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 5</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 6</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="category">
        <section id="section-text">
            <p><span> Category 2 </span></p>
        </section>
        <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 1</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 2</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 3</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 4</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 5</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 6</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="category">
        <section id="section-text">
            <p><span> Category 3 </span></p>
        </section>
        <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 1</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 2</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 3</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 4</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 5</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                        <li class="splide__slide">
                            <article class="card">
                                <img src="{{ placeholder_image }}" alt="Article Image">
                                <h2>Title 6</h2>
                                <p class="article-meta"> 21/08/2021 | 5 mins </p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident voluptate? Commodi quam odio veniam officiis ratione adipisci repellat error fugit, iste animi optio! Ratione reiciendis quas numquam labore corrupti.</p>
                                <button>
                                    <a href="#">Read More</a>
                                </button>
                            </article>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        var elms = document.getElementsByClassName('splide');
        for(var i = 0, len = elms.length; i < len; i++)
        {
            new Splide(elms[i],
                {
                type: 'loop',
                autoheight: true,
                perPage: 3,
                keyboard: 'focused',
                breakpoints:
                {
                    '800' :
                    {
                        perPage: 2,
                    },

                    '520' :
                    {
                        perPage: 1,
                    },
                }
            }).mount();
        };
    </script>
{% endblock %}
