{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/style/post.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
          integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB"
          crossorigin="anonymous">

 {% endblock %}

{% block content %}
<h1 id="title">{{ post.title }}</h1>
<p id="post-meta"> 21/08/2021 | {{ post.minutes }} mins </p>
<hr>
<img id="cover" src="{{ post.cover }}" alt="Cover Photo">
<article class="markdown-body">
    {{ rendered_md | safe }}
</article>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
            integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p"
            crossorigin="anonymous"></script>
    <script>
        let equations = document.getElementsByClassName("math");
        console.log(equations);
        for(equation of equations)
        {
            console.log(equation)
            katex.render(equation.textContent, equation, {
                throwOnError: false,
                displayMode: equation.tagName == "DIV",
            });
        }
    </script>
{% endblock %}
